.header {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #dedede;
  box-shadow: 0px 5px 10px #dedede;

  li {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .active {
    border-bottom: 3px solid #3e3c89;
    color: #3e3c89;
  }
}
